<div id="<%= dom_id article %>">
    <p>
      <%= link_to article.title, article_path(article) %>
    </p>

    <p>
      <strong>By:</strong>
      <%= article.publisher %>
    </p>

    <p>
      <strong>year:</strong>
      <%= article.pbulished_year %>
    </p>
</div>
